.card {
  width: 100%;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid rgb(230, 227, 227);
  box-shadow: 5px 5px 5px rgb(213, 188, 188);
  background-color: white;
}

.intro {
  font-size: 10px;
  color: gray;
}

@media (min-width: 450px) {
  .titleComp {
    font-size: large;
    margin-left: 10px;
  }
  .intro {
    font-size: 13px;
  }
  .picture {
    margin-top: 0;
  }
}

.picture {
  max-width: 20%;
  object-fit: contain;
  height: 100%;
  margin-top: 10px;
}

.readMoreBtn {
  cursor: pointer;
  padding: 5px;
  font-size: 10px;
}
