.filterCardList {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .filterCardList {
    flex-direction: row;
  }
}
.search {
  display: flex;
  justify-content: center;
}
