.filter{
    display: none;
}
.filter>ul li{
    list-style: none;
}


@media (min-width: 800px) {
    .filter {
        display: block;
        width: 20%;
        color: blue;
        margin-left: 15px;
       }
  }